<!DOCTYPE html>
<html>
<head>
    <title>Mistakes Journal | @ViewData["Title"]</title>
    <link href="/css/site.css" rel="stylesheet">
    <link href="/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/js/site.js"></script>
</head>

<body>
@RenderBody()
</body>
</html>