/* stylelint-disable selector-class-pattern */
@use '../mistakes-journal';

.mj-onboard-button-skip {
  @include mistakes-journal.font-semi-bold(1rem);
  margin-right: 1em;
  border-width: 0.125rem;
  border-color: mistakes-journal.color('gray', '400');
  color: mistakes-journal.color('gray', '400');
  white-space: nowrap;

  &:hover {
    border-color: mistakes-journal.color('gray', '200');
    color: mistakes-journal.color('gray', '200');
  }

  &:active {
    border-color: mistakes-journal.color('gray', '100');
    color: mistakes-journal.color('gray', '100');
  }
}

.mj-onboard-two-buttons {
  display: flex;
  justify-content: space-between;
}

.mj-button-proceed {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  transform: translateX(-50%);
  white-space: nowrap;
}

.mj-onboard-end-button {
  @include mistakes-journal.media-breakpoint-up(md) {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
  }
}

.mj-onboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;

  @include mistakes-journal.media-breakpoint-up(md) {
    flex-direction: row;
    padding-top: 0;
  }

  &-icon {
    min-width: 200px;
    min-height: 200px;
    padding: 1rem 0;
  }

  &-simple-text {
    @include mistakes-journal.font-regular(1.1rem);
    flex-shrink: 1;
    max-width: 17.5rem;
    margin-bottom: 2rem;
    text-align: left;

    @include mistakes-journal.media-breakpoint-up(md) {
      @include mistakes-journal.font-regular(1rem);
      margin-bottom: 0;
      padding-top: 0;
      padding-left: 1rem;
    }
  }

  &-header {
    @include mistakes-journal.font-semi-bold(1.2rem);
    margin: 0;
    padding-top: 2rem;

    @include mistakes-journal.media-breakpoint-up(md) {
      margin: 0;
      padding-top: 0;
      padding-left: 1rem;
      text-align: left;
    }
  }
}

.mj-step {
  &.v-step {
    background-color: mistakes-journal.color('gray', '100');
    color: mistakes-journal.color('text');

    @include mistakes-journal.media-breakpoint-up(md) {
      max-width: 32rem;
      max-height: 17rem;
      border-radius: 1rem;
    }

    &--sticky {
      width: 100%;
      max-width: 100%;
      height: 100%;
      background-color: mistakes-journal.color('gray', '100');
      color: mistakes-journal.color('text');

      @include mistakes-journal.media-breakpoint-up(md) {
        max-width: 32rem;
        max-height: 17rem;
        border-radius: 1rem;
      }
    }
  }

  .v-step__header {
    display: none;
  }
}

.mj-skip-mobile {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
}

::v-deep {
  .v-step__arrow--dark {
    &::before {
      background: mistakes-journal.color('gray', '100') !important;
    }
  }

  .v-tour__target--highlighted {
    box-shadow: 0 0 0 5px rgb(0 0 0 / 20%);
  }
}

.overlay {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.27);
}

.mj-onboard-change-language {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;

  @include mistakes-journal.media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    margin: 1rem;
  }
}
/* stylelint-enable selector-class-pattern */
