@use '../mistakes-journal';

.tooltip {
  $background-color: rgba(mistakes-journal.color('gray', '1000'), 0.8);
  display: block !important;
  z-index: 10000;
  font-size: 0.75rem;

  .tooltip-inner {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    background: $background-color;
    color: mistakes-journal.color('gray', '0');
  }

  .tooltip-arrow {
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    margin: 5px;
    border-style: solid;
    border-color: $background-color;
  }

  &[x-placement^='top'] {
    margin-bottom: 5px;

    .tooltip-arrow {
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
      border-width: 5px 5px 0;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: 5px;

    .tooltip-arrow {
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
      border-width: 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-left-color: transparent !important;
    }
  }

  &[x-placement^='right'] {
    margin-left: 5px;

    .tooltip-arrow {
      top: calc(50% - 5px);
      left: -5px;
      margin-right: 0;
      margin-left: 0;
      border-width: 5px 5px 5px 0;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
    }
  }

  &[x-placement^='left'] {
    margin-right: 5px;

    .tooltip-arrow {
      top: calc(50% - 5px);
      right: -5px;
      margin-right: 0;
      margin-left: 0;
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      padding: 24px;
      border-radius: 5px;
      background: $color;
      box-shadow: 0 5px 30px rgba($background-color, 0.1);
      color: $background-color;
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    transition: opacity 0.15s, visibility 0.15s;
    opacity: 0;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    transition: opacity 0.15s;
    opacity: 1;
  }
}
