:root {
    --color-primary-700: #37d087;
    --color-secondary-700: #e9c443;
    --color-error-50: #f2dada;
    --color-error-500: #f24848;
}

/* Bootstrap */

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:hover:focus {
    color: #ffffff;
}

body {
    background-color: #F8FAFC !important;
    font-family: 'Montserrat', sans-serif;
}

/* Application logo */

.mj-logo {
    text-align: center;
    font-size: 1.5rem;
}

.mj-logo img {
    height: 1.5em;
}

.mj-logo span:first-of-type {
    margin-right: 0.25rem;
    color: var(--color-primary-700);
}

.mj-logo span:last-of-type {
    color: var(--color-secondary-700);
}

.mj-logo span {
    font-weight: 600;
}

/* Card */

.mj-card {
    background-color: #ffffff;
    border: #E2E8F0 solid 2px;
    border-radius: 2.5rem;
    padding: 3rem 2rem;
}

.mj-card-title {
    text-align: center;
    font-size: 1.2rem;
}

.mj-card-title h1 {
    font-weight: 600;
    font-size: 1.5em;
}

.mj-card-title h2 {
    font-weight: 400;
    font-size: 1em;
}

.mj-card-footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #94A3B8;
    text-align: center;
}

.mj-card .mj-action {
    width: 100%;
}

/* Forms */

.mj-form-group {
    margin-bottom: 1rem;
}

.mj-validation-summary {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-error-500);
    background-color: var(--color-error-50);
    color: var(--color-error-500);
}

.mj-validation-summary ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}
